@model List<VakifbankPos.DAL.Entities.PosInventory>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container mt-5">
        <h3 class="mb-4 text-center" style="color: #f1c40f;  float:left">Arızalı Cihazlar</h3>

       
        @if (Model == null || !Model.Any())
        {
            <p class="no-records-message">Arızalı Cihaz Bulunamadı.</p>
        }
        else
        {
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Seri Numarası</th>
                        <th>Model</th>
                        <th>Sahip Banka</th>
                        <th>Terminal</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SerialNumber</td>
                            <td>@item.Model</td>
                            <td>@item.OwnerBank</td>
                            <td>@item.Terminal</td>
                            <td>
                                <a href="@Url.Action("PosDetail", new { id = item.PosId })" class="btn btn-vakifbank-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Detaylar">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a href="@Url.Action("UpdateDefectivePassive", new { id = item.PosId })" class="btn btn-vakifbank-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Aktif">
                                    <i class="bi bi-arrow-90deg-up"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(function () {
                $('[data-bs-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
</body>

<style>
    .container {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }

    .table thead {
        background-color: #333; 
        color: #f7e04b;
    }

   
    

    .btn-vakifbank-success {
        background-color: #28a745; 
        color: #fff;
    }

    .btn-vakifbank-success:hover {
        background-color: #218838;
    }

    .no-records-message {
        color: #888;
        text-align: center;
    }
</style>